<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户列表</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__STATIC__/admin/css/oksub.css">
	<script type="text/javascript" src="__STATIC__/admin/lib/loading/okLoading.js"></script>
</head>
<body>
<div class="ok-body">
	<!--模糊搜索区域-->
	<div class="layui-row">
		<form class="layui-form layui-col-md12 ok-search">
			<input class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime" name="startTime">
			<input class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime" name="endTime">
			<input class="layui-input" placeholder="账号" autocomplete="off" name="username">
			<button class="layui-btn" lay-submit="" lay-filter="search">
				<i class="layui-icon">&#xe615;</i>
			</button>
		</form>
	</div>
	<!--数据表格-->
	<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="__STATIC__/admin/lib/layui/layui.js"></script>
<script>
	layui.use(["element", "jquery", "table", "form", "laydate", "okLayer", "okMock"], function () {
		let table = layui.table;
		let form = layui.form;
		let laydate = layui.laydate;
		let okLayer = layui.okLayer;
		let okMock = layui.okMock;
		let $ = layui.jquery;

		laydate.render({elem: "#startTime", type: "datetime"});
		laydate.render({elem: "#endTime", type: "datetime"});
		okLoading.close($);
		let userTable = table.render({
			elem: '#tableId',
			url: '/admin/user/userList',
			limit: 20,
			page: true,
			toolbar: true,
			toolbar: "#toolbarTpl",
			size: "sm",
			parseData: function (res) {
				return {
					"code" : (res.code == 1 ? 0 : 1),
					"msg"  : res.msg,
					"data" : res.data,
					"count": res.count
				}
			},
			cols: [[
				{type: "checkbox", fixed: "left"},
				{field: "id", title: "ID", width: 70, sort: true},
				{field: "username", title: "账号", width: 100},
				{field: "nickname", title: "昵称", width: 100},
				{field: "status", title: "状态", width: 100, templet: "#statusTpl"},
				{field: "email", title: "邮箱", width: 200},
				{field: "accesstoken", title: "密钥", width: 200},
				{field: "logins", title: "登陆次数", width: 100},
				{field: "registertime", title: "创建时间", width: 150,},
				{field: "lastlogintime", title: "最后登录", width: 150},
				{title: "操作", width: 100, align: "center", fixed: "right", templet: "#operationTpl"}
			]],
			done: function (res, curr, count) {
				console.info(res, curr, count);
			}
		});

		form.on("submit(search)", function (data) {
			userTable.reload({
				url: "/admin/user/searchUser",
				where: data.field,
				page: {curr: 1},
			});
			return false;
		});

		table.on("toolbar(tableFilter)", function (obj) {
			switch (obj.event) {
				case "batchEnabled":
					changeUserStatus("确定要批量启用吗？", 1);
					break;
				case "batchDisabled":
					changeUserStatus("确定要批量停用吗？", 0);
					break;
				case "batchDel":
					del("确定要批量删除吗？");
					break;
				case "add":
					add();
					break;
			}
		});

		table.on("tool(tableFilter)", function (obj) {
			let data = obj.data;
			switch (obj.event) {
				case "edit":
					edit(data);
					break;
				case "del":
					del(data.id);
					break;
			}
		});

		//获取表格所选id
		function getTableCheckObj(table) {
			var checkIdArr = table.checkStatus("tableId");
			var rows = checkIdArr.data.length;
			if (rows > 0) {
				var idsStr = "";
				for (var i = 0; i < rows; i++) {
					idsStr += checkIdArr.data[i].id + ",";
				}
				return idsStr;
			} else {
				layer.msg("未选择有效数据", {offset: "t", anim: 6});
				return false;
			}
		}

		//更改用户状态
		function changeUserStatus(msg, changeStatus){
			okLayer.confirm(msg, function (index) {
				layer.close(index);
				var ids = getTableCheckObj(table);
				if(!ids){
					return false;
				}else{
					$.ajax({
						url: "/admin/user/changeUserStatus",
						method: 'PUT',
						data: {
							ids:ids,
							status: changeStatus
						},
						success: function (res) {
							var iconCode = (res.code == 1) ? 1 : 0;
							layer.msg(res.msg, {icon: iconCode, time: 1000}, function () {
								$(".layui-laypage-btn")[0].click();
							});
						},
						error: function (err){
							console.log(err);
						}
					});
				}
			});
		}

		// 删除用户
		function del(data) {
			var msg;
			var ids;
			if(typeof data == 'number'){
				msg = "确定要删除吗？"
				ids = data;
			}else{
				msg = data;
				ids = getTableCheckObj(table);
			}
			okLayer.confirm(msg, function (index) {
				layer.close(index);
				if(!ids){
					return false;
				}else{
					$.ajax({
						url: "/admin/user/delUser",
						method: 'DELETE',
						data: {
							ids:ids
						},
						success: function (res) {
							var iconCode = (res.code == 1) ? 1 : 0;
							layer.msg(res.msg, {icon: iconCode, time: 1000}, function () {
								$(".layui-laypage-btn")[0].click();
							});
						},
						error: function (err){
							console.log(err);
						}
					});
				}
			});
		}
	})
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="batchEnabled">批量启用</button>
		<button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="batchDisabled">批量停用</button>
		<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel">批量删除</button>
		<!-- <button class="layui-btn layui-btn-sm" lay-event="add">添加用户</button> -->
	</div>
</script>

<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
	<a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
	<a href="javascript:" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>

<!-- 启用|停用模板 -->
<script type="text/html" id="statusTpl">
	{{#  if(d.status == 1){ }}
	<span class="layui-btn layui-btn-normal layui-btn-xs">已启用</span>
	{{#  } else if(d.status == 0) { }}
	<span class="layui-btn layui-btn-warm layui-btn-xs">已停用</span>
	{{#  } }}
</script>

<script type="text/html" id="roleTpl">
	{{#  if(d.role == 0){ }}
	<span class="layui-btn layui-btn-normal layui-btn-xs">超级会员</span>
	{{#  } else if(d.role == 1) { }}
	<span class="layui-btn layui-btn-warm layui-btn-xs">普通用户</span>
	{{#  } }}
</script>
</body>
</html>
